@model  IEnumerable<IMAPBD.ViewModel.AdminViewModel.CrearPaquetesViewModel>
@{
    ViewBag.Title = "Index_User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    <div class="container">


        <div class="row">

            <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
                <h2>Paquetes recomendados</h2>
                <!-- On rows -->
                <div class="table-responsive">
                    <table class="table table-condensed table-hover">

                        <!--<tr>
                        <td class="active">Cotizaciones</td>
                        <td class="success">Origen</td>
                        <td class="warning">Destino</td>
                        <td class="danger">estatus</td>
                        </tr>-->
                        <tr>
                            <td>Empresa</td>
                            <td>Origen</td>
                            <td>Fecha Salida</td>
                            <td>Destino</td>
                            <td>Fecha Llegada</td>
                            <td>Costo</td>
                            <td>Moneda</td>
                            <td>Fecha Vencimiento</td>
                            <td>Acción</td>
                        </tr>

                        @foreach (var paquete in Model)
                        {
                            using (Html.BeginForm("Ver_Paquete", "Home", FormMethod.Post))
                            {
                                <tr>
                                    <td>@Html.TextBoxFor(m => paquete.Empresa, new { @readonly = true, @style = "border:none;background-color: transparent;" })</td>
                                    <td>@Html.TextBoxFor(m => paquete.Origen, new { @readonly = true, @style = "border:none;background-color: transparent;" })</td>
                                    <td>@Html.TextBoxFor(m => paquete.FechaSalida, new { @readonly = true, @style = "border:none;background-color: transparent;" })</td>
                                    <td>@Html.TextBoxFor(m => paquete.Destino, new { @readonly = true, @style = "border:none;background-color: transparent;" })</td>
                                    <td>@Html.TextBoxFor(m => paquete.FechaLlegada, new { @readonly = true, @style = "border:none;background-color: transparent;" })</td>
                                    <td>@Html.TextBoxFor(m => paquete.Costo, new { @readonly = true, @style = "border:none;background-color: transparent;" })</td>
                                    <td>@Html.TextBoxFor(m => paquete.Moneda, new { @readonly = true, @style = "border:none;background-color: transparent;" })</td>
                                    <td>@Html.TextBoxFor(m => paquete.FechaVencimiento, new { @readonly = true, @style = "border:none;background-color: transparent;" })</td>


                                    @Html.TextBoxFor(m => paquete.InformacionGeneral, new { @type = "hidden", @readonly = true, @style = "border:none;background-color: transparent;" })
                                    @Html.TextBoxFor(m => paquete.Tipo, new { type = "hidden", @readonly = true, @style = "border:none;background-color: transparent;" })
                                    <td><button type="submit" class="btn btn-info pull-right">Ver</button></td>


                                </tr>
                            }
                        }

                    </table>
                </div>
            </div>

        </div>

    </div>

</div>