@{
    ViewBag.Title = "Paquetes";
}
<h2>Busqueda de Paquetes</h2>
<div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
    <h2>Resultados</h2>
    <!-- On rows -->
    <div class="table-responsive">
        <table class="table table-condensed table-hover">

            <!--<tr>
            <td class="active">Cotizaciones</td>
            <td class="success">Origen</td>
            <td class="warning">Destino</td>
            <td class="danger">estatus</td>
            </tr>-->
            <tr>
                <td>Cotizaciones</td>
                <td>Origen</td>
                <td>Destino</td>
                <td>Estatus</td>
                <td>Valoración</td>
                <td>Vencimiento</td>
                <td>Acción</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Origen 1</td>
                <td>Destino 2</td>
                <td>Default</td>
                <td>
                    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
                </td>
                <td>03-03-2017</td>
                <td> @Html.ActionLink("Ver", "Ver_Paquete", "Home", null, new { @class = "btn btn-primary" })
                <td>
            </tr>
            <tr class="success">
                <td>1</td>
                <td>Origen 1</td>
                <td>Destino 2</td>
                <td>App roved</td>
                <td>
                    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
                </td>
                <td>03-03-2017</td>
                <td> @Html.ActionLink("Ver", "Ver_Paquete", "Home", null, new { @class = "btn btn-primary" })</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Origen 1</td>
                <td>Destino 2</td>
                <td>Default</td>
                <td>
                    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
                </td>
                <td>03-03-2017</td>
                <td> @Html.ActionLink("Ver", "Ver_Paquete", "Home", null, new { @class = "btn btn-primary" })</td>
            </tr>
            <tr class="active">
                <td>1</td>
                <td>Origen 1</td>
                <td>Destino 2</td>
                <td>Declined</td>
                <td>
                    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
                </td>
                <td>03-03-2017</td>
                <td> @Html.ActionLink("Ver", "Ver_Paquete", "Home", null, new { @class = "btn btn-primary" })</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Origen 1</td>
                <td>Destino 2</td>
                <td>Default</td>
                <td>
                    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
                </td>
                <td>03-03-2017</td>
                <td> @Html.ActionLink("Ver", "Ver_Paquete", "Home", null, new { @class = "btn btn-primary" })</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Origen 1</td>
                <td>Destino 2</td>
                <td>Default</td>
                <td>
                    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
                </td>
                <td>03-03-2017</td>
                <td> @Html.ActionLink("Ver", "Ver_Paquete", "Home", null, new { @class = "btn btn-primary" })</td>
            </tr>
            <tr class="warning">
                <td>1</td>
                <td>Origen 1</td>
                <td>Destino 2</td>
                <td>Pending</td>
                <td>
                    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
                </td>
                <td>03-03-2017</td>
                <td> @Html.ActionLink("Ver", "Ver_Paquete", "Home", null, new { @class = "btn btn-primary" })</td>
            </tr>
            <tr class="danger">
                <td>1</td>
                <td>Origen 1</td>
                <td>Destino 2</td>
                <td>Call in to confirm</td>
                <td>
                    <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
                </td>
                <td>03-03-2017</td>
                <td> @Html.ActionLink("Ver", "Ver_Paquete", "Home", null, new { @class = "btn btn-primary" })</td>
            </tr>

        </table>
    </div>
</div>