@{
    ViewBag.Title = "Paquetes";
}
@model  IEnumerable<IMAPBD.ViewModel.AdminViewModel.CrearPaquetesViewModel>
@{
    ViewBag.Title = "Lugares";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Busqueda de Paquetes</h2>
<div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
    <h2>Resultados</h2>
    <!-- On rows -->
    <div class="table-responsive">
        <table class="table table-condensed table-hover">

           
            <tr>
                <td>Empresa</td>
                <td>Origen</td>
                <td>Fecha Salida</td>
                <td>Destino</td>
                <td>Fecha Llegada</td>
                <td>Costo</td>
                <td>Moneda</td>
                <td>Fecha Vencimiento</td>
                <td>Acción</td>
            </tr>
            
           
             @foreach (var paquete in Model)
                        {
                            
                            <tr>
                                <td>@Html.TextBoxFor(m => paquete.Empresa)</td>
                                <td>@Html.TextBoxFor(m => paquete.Origen)</td>
                                <td>@Html.TextBoxFor(m => paquete.FechaSalida)</td>>
                                <td>@Html.TextBoxFor(m => paquete.Destino)</td>>
                                <td>@Html.TextBoxFor(m => paquete.FechaLlegada)</td>>
                                <td>@Html.TextBoxFor(m => paquete.Costo)</td>>
                                <td>@Html.TextBoxFor(m => paquete.Moneda)</td>>
                                <td>@Html.TextBoxFor(m => paquete.FechaVencimiento)</td>>
                                <td>@Html.ActionLink("Ver", "Ver_Paquete", "Home", null, new { @class = "btn btn-info" })</td>
                            </tr>
                        }

        </table>
    </div>
</div>