@model IMAPBD.ViewModel.BusquedaViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IMAPDB - Empresa - Inicio</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/imapdb")

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <header>

        <div class="container">

            <div class="row">

                <div class="col-xs-8"><h1>IMAPDB</h1></div>
                <div class="col-xs-4">
                    @using (Html.BeginForm("Login", "Home"))
                    {
                        <input type="submit" value="Logout" class="btn btn-warning" />

                    }

                </div>

            </div>

            <div class="row menu">

                <div class="col-md-6 col-xs-12">
                    <ul>
                        <li>@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "page-scroll" })</li>
                        <li>@Html.ActionLink("Crear Paquete", "CrearPaquete", "Home", null, new { @class = "page-scroll" })</a></li>
                        <li>@Html.ActionLink("Lugares", "Lugares", "Home", null, new { @class = "page-scroll" })</li>
                    </ul>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="pull-right">


                        @using (Html.BeginForm("Lugares", "Home", FormMethod.Post))
                        {

                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Busqueda, new { @class = "form-control", placeholder = "Busqueda" })
                            </div>

                            <div class="clearfix">

                                <button type="submit" class="btn btn-primary pull-right">Por Ciudad</button>
                            </div>

                        }

                        @using (Html.BeginForm("Paquetes", "Home", FormMethod.Post))
                        {

                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Busqueda, new { @class = "form-control", placeholder = "Busqueda" })
                            </div>

                            <div class="clearfix">

                                <button type="submit" class="btn btn-primary pull-right">Por Paquete</button>
                            </div>

                        }
                        @using (Html.BeginForm("Paises", "Home", FormMethod.Post))
                        {

                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Busqueda, new { @class = "form-control", placeholder = "Busqueda" })
                            </div>

                            <div class="clearfix">

                                <button type="submit" class="btn btn-primary pull-right">Por Pais</button>
                            </div>

                        }



                    </div>

                </div>

            </div>

        </div>

    </header>

    <div>

        <div class="container">

            @RenderBody()

        </div>

    </div>

    <footer>
        <div class="container">
            <row>
                <div class="col-xs-12">
                    IMAPDB. 2017
                </div>
            </row>
        </div>
    </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
